body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(31, 30, 30);
    color: white;
    min-height: 100vh;
}

img{
    width: 500px;
    object-fit: cover;
    color:#daa520 ;
}